<footer>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Авторът не е създателят на статии и изображения. Всички статии и изображения са взети от <a class="text-dark" href="http://e-ecodb.bas.bg/rdb/bg/">Червена книга на Република България Електронно издание</a>
        <br />
        <a href="/thanks">Други използвани ресурси</a>
        <br />
        <a href="/APIPage">Информация за API</a>
    </div>
</footer>