<footer>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Автора не е създателят на статии и изображения. Всички ресурси са взети от
        <a class="text-dark" href="http://e-ecodb.bas.bg/rdb/bg/">Червена книга на Република България Електронно издание</a>
    </div>
</footer>