<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">
        <img src="/icon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Red Map
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation" onclick="buttonCollapseClick()">
        <span>Меню</span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Списък застрашени видове</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Червената книга</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Намерих застрашен вид</a>
            </li>

        </ul>
    </div>
</nav>

<script>
    function buttonCollapseClick() {


        if ($('#navbar-menu').hasClass('collapse')) {

            $('#navbar-menu').removeClass("collapse");
        }
        else {

            $('#navbar-menu').addClass("collapse");

        }

    }
</script>