<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    {{{pageHeadTags}}}
    {{> headTags }}

    

</head>
<body>
    {{> navbar }}

    {{{body}}}

    {{> footer}}
</body>
</html>