<div class="container">
    <h2>Адреса за API е "/API/" и име на метода</h2>
    <p class="col-sm-12">
        <h3>getAllPlants</h3>
        Връща id, латинско и българско(ако има) име и линка към страницата на всяко растение растението
        Позволява да се получи латинско и българско(ако има) име и линка към страницата на растението в червена книга.
        Ако няма намерено растение връща код 404.
    </p>
    <p class="col-sm-12">
        <h3>getPlantbyID?=id</h3>
        Позволява да се получи латинско и българско(ако има) име и линка към страницата на растението в червена книга.
        Ако няма намерено растение връща код 404.
    </p>
    <p class="col-sm-12">
        <h3>getPlantInfobyID?=id</h3>
        Връща всички данни свързани с растението със дадено id.
        Ако няма намерено растение връща код 404.
    </p>
    <p class="col-sm-12">
        <h3>getCordinatesbyID?=id</h3>
        Позволява да се получат точките в които растението с даденото id може да се намери.
        Не винаги получената информация е вярна.
        Ако няма намерено растение връща код 404.
    </p>
   
</div>