<div class="container">
    <h1>Добре дошли</h1>
    <p>По-долу може да оставите ваше съобщение, което ще бъде видяно от всички:</p>
    <form  name="letterForm">
        <fieldset>
            <legend>Вашето съобщение</legend>
            <table>
                <tr>
                    <td>Вашето име: </td>
                    <td><input type="text" name="userName"></td>
                </tr>
                <tr>
                    <td>Съобщение: </td>
                    <td><input type="text" name="letter"></td>
                </tr>
            </table>
            <br>
            <button type="submit" class="btn btn-sm btn-primary">Изпрати</button>
            
        </fieldset>
    </form>

    <h3 >Съобщения:</h3>
    <div id="messages" class="col-sm-12">
        {{#if allComments}}
        {{#each allComments}}
        <blockquote class="blockquote col-sm-6 bg-info">
            <p class="mb-0">{{this.letter}}</p>
            <footer class="blockquote-footer">{{this.username}}</footer>
        </blockquote>
        {{/each}}
        {{/if}}
    </div>
    <script src="FrontEndJS/guestbookFrontEnd.js"></script>
</div>