<div class="text-center">
    <h1>Използвани ресурси</h1>
</div>
<div class="list-group">
    <a href="https://leafletjs.com/" class="list-group-item list-group-item-action"> Leafletjs </a>
    <a href="http://www.geonames.org/" class="list-group-item list-group-item-action">Geonames</a>
    <a href="http://e-ecodb.bas.bg/rdb/bg/" class="list-group-item list-group-item-action">Червена книга на Република България Електронно издание</a>
    <a href="https://icons8.com/" class="list-group-item list-group-item-action">Иконката на сайта</a>
    <a href="https://getbootstrap.com/" class="list-group-item list-group-item-action">Bootstrap</a>
</div>